input { stdin { } }

filter {
   split {
   }
   if  [message] =~ "^{" {
		# convert to json
		json {
			 source => "message"
		}
   }
   else {
		# drop all lines that are not json
		drop {}
   }


}

output {
  elasticsearch { 
	hosts => ["localhost:9200"]
	index => "t"
 }
  stdout { codec => rubydebug }
 
}

